@model List<CompanyApp.DTOs.EmployeeDTO>

@{
    string headerMessage = null;
    
    ViewData["Title"] = "All Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    headerMessage = "No Employees yet!";
}
else
{
    headerMessage = "List of All Employees";
}

<div class="text-center">
    <h1 class="display-4">Employees</h1>
    <p>@headerMessage</p>
</div>

@Html.ActionLink("Add Employee", "New", "Employees", null, new{ @class ="btn btn-primary"}) <br /> <br />

@if(Model.Any())
{
    <table>        
        <tr> 
            <th>Name</th>
            <th>@Html.ActionLink("Department", "IndexDepartments", "Employees")</th> @*HEADERS*@
            <th>Salary</th>
            <th>Options</th>
        </tr>

        @foreach(CompanyApp.DTOs.EmployeeDTO emp in Model)
        {
             <tr>
                <td>@String.Format("{0} {1}", emp.Name, emp.Surname)</td>
                <td> @Html.ActionLink($"{emp.Department.Name}", "DepartmentDetails", "Employees", new { id = emp.DepartmentID })</td>
                <td>@emp.Salary</td>
                <td>
                    @Html.ActionLink("Details", "Details","Employees", new{ id=emp.ID })
                    @Html.ActionLink("Edit", "Edit", "Employees", new { id = emp.ID })
                    @Html.ActionLink("Delete", "Delete", "Employees", new { id = emp.ID, actionToReturn="index",  controllerToReturn="Employees" })
                </td>
            </tr>
        }
    </table>
}